@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$primary: #34b666;
$info: #3B5998;
$link: $primary;
$speed: 150ms;
$table-cell-border: 1px solid rgba($grey-lighter, .7);
$grey-dark: #383d4f;
$grey-darker: #383d4f;
$link-hover: $primary;
$warning: #8e44ad;
